Client TP2/Client REST_SOAP/Connected Services/WCF_Soap_Services/Aluguer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Aluguer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63453/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63453/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAluguer_AddAluguer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAluguer" />
  </wsdl:message>
  <wsdl:message name="IAluguer_AddAluguer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAluguerResponse" />
  </wsdl:message>
  <wsdl:message name="IAluguer_ProcuraAlugueres_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcuraAlugueres" />
  </wsdl:message>
  <wsdl:message name="IAluguer_ProcuraAlugueres_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcuraAlugueresResponse" />
  </wsdl:message>
  <wsdl:message name="IAluguer_UpdateAluguer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAluguer" />
  </wsdl:message>
  <wsdl:message name="IAluguer_UpdateAluguer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAluguerResponse" />
  </wsdl:message>
  <wsdl:message name="IAluguer_EliminaAluguer_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminaAluguer" />
  </wsdl:message>
  <wsdl:message name="IAluguer_EliminaAluguer_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminaAluguerResponse" />
  </wsdl:message>
  <wsdl:portType name="IAluguer">
    <wsdl:operation name="AddAluguer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAluguer/AddAluguer" message="tns:IAluguer_AddAluguer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAluguer/AddAluguerResponse" message="tns:IAluguer_AddAluguer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcuraAlugueres">
      <wsdl:input wsaw:Action="http://tempuri.org/IAluguer/ProcuraAlugueres" message="tns:IAluguer_ProcuraAlugueres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAluguer/ProcuraAlugueresResponse" message="tns:IAluguer_ProcuraAlugueres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAluguer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAluguer/UpdateAluguer" message="tns:IAluguer_UpdateAluguer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAluguer/UpdateAluguerResponse" message="tns:IAluguer_UpdateAluguer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminaAluguer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAluguer/EliminaAluguer" message="tns:IAluguer_EliminaAluguer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAluguer/EliminaAluguerResponse" message="tns:IAluguer_EliminaAluguer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAluguer" type="tns:IAluguer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAluguer">
      <soap:operation soapAction="http://tempuri.org/IAluguer/AddAluguer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcuraAlugueres">
      <soap:operation soapAction="http://tempuri.org/IAluguer/ProcuraAlugueres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAluguer">
      <soap:operation soapAction="http://tempuri.org/IAluguer/UpdateAluguer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaAluguer">
      <soap:operation soapAction="http://tempuri.org/IAluguer/EliminaAluguer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Aluguer">
    <wsdl:port name="BasicHttpBinding_IAluguer" binding="tns:BasicHttpBinding_IAluguer">
      <soap:address location="http://localhost:63453/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>