Client TP2/Client REST_SOAP/Connected Services/WCF_SOAP_Services_CloudVersion/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddAluguer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataIn" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataOut" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAluguerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAluguerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcuraAlugueres">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcuraAlugueresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcuraAlugueresResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAluguer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_aluguer" type="xs:int" />
        <xs:element minOccurs="0" name="nome_marca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nome_modelo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datain" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataout" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAluguerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAluguerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaAluguer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_aluguer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaAluguerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminaAluguerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>